

$sectionBaseColor: #4c6eab;
$topSection: $sectionBaseColor;
$secondSection: lighten($sectionBaseColor, 10%);
$thirdSection: lighten($secondSection, 10%);
$fourthSection: lighten($thirdSection, 10%);